pipeline/clash_s2r_cdc.json
{
	"name": "Pipeline 1",
	"properties": {
		"activities": [
			{
				"name": "s2r_cdc",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "s2r_cdc",
						"type": "NotebookReference"
					},
					"parameters": {
						"SRC_DIR": {
							"value": {
								"value": "@pipeline().parameters.SRC_DIR",
								"type": "Expression"
							},
							"type": "string"
						},
						"SRC_FILE_NM": {
							"value": {
								"value": "@pipeline().parameters.SRC_FILE_NM",
								"type": "Expression"
							},
							"type": "string"
						},
						"TGT_TBL_NM": {
							"value": {
								"value": "@variables('TGT_TBL_NM')",
								"type": "Expression"
							}
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "smallspark33",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": false,
						"spark.dynamicAllocation.minExecutors": 1,
						"spark.dynamicAllocation.maxExecutors": 1
					},
					"driverSize": "Small",
					"numExecutors": 1
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TGT_TBL_NM",
					"value": {
						"value": "@substring(\n    pipeline().parameters.SRC_DIR,\n    add(lastindexof(pipeline().parameters.SRC_DIR, '/'), 1),\n    sub(\n        sub(\n            length(pipeline().parameters.SRC_DIR),\n            1),\n    lastindexof(pipeline().parameters.SRC_DIR, '/')\n    )\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SRC_DIR": {
				"type": "string",
				"defaultValue": "clash/stg/cwl"
			},
			"SRC_FILE_NM": {
				"type": "string",
				"defaultValue": "clandata_2023-05-27T12:00:26.4776262Z.json"
			}
		},
		"variables": {
			"TGT_TBL_NM": {
				"type": "String"
			}
		},
		"folder": {
			"name": "clash/etl/s2r"
		},
		"annotations": []
	}
}