pipeline/pl_premtracker_standings_master.json
{
	"name": "pl_premtracker_standings_master",
	"properties": {
		"activities": [
			{
				"name": "LU_InboundTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "WebSource"
					},
					"dataset": {
						"referenceName": "ds_webtbl_bbcprem",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set GamesPlayed",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LU_InboundTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "GAMES_PLAYED",
					"value": {
						"value": "@string(\n    add(\n        int(activity('LU_InboundTable').output.value[0].Played),\n        add(\n            int(activity('LU_InboundTable').output.value[1].Played),\n            add(\n                int(activity('LU_InboundTable').output.value[2].Played),\n                add(\n                    int(activity('LU_InboundTable').output.value[3].Played),\n                    add(\n                        int(activity('LU_InboundTable').output.value[4].Played),\n                        add(\n                            int(activity('LU_InboundTable').output.value[5].Played),\n                            add(\n                                int(activity('LU_InboundTable').output.value[6].Played),\n                                add(\n                                    int(activity('LU_InboundTable').output.value[7].Played),\n                                    add(\n                                        int(activity('LU_InboundTable').output.value[8].Played), \n                                        add(\n                                            int(activity('LU_InboundTable').output.value[9].Played),\n                                            add(\n                                                int(activity('LU_InboundTable').output.value[10].Played),\n                                                add(\n                                                    int(activity('LU_InboundTable').output.value[11].Played),\n                                                    add(\n                                                        int(activity('LU_InboundTable').output.value[12].Played),\n                                                        add(\n                                                            int(activity('LU_InboundTable').output.value[13].Played),\n                                                            add(\n                                                                int(activity('LU_InboundTable').output.value[14].Played),\n                                                                add(\n                                                                    int(activity('LU_InboundTable').output.value[15].Played),\n                                                                    add(\n                                                                        int(activity('LU_InboundTable').output.value[16].Played),\n                                                                        add(\n                                                                            int(activity('LU_InboundTable').output.value[17].Played),\n                                                                            add(\n                                                                                int(activity('LU_InboundTable').output.value[18].Played), \n                                                                                int(activity('LU_InboundTable').output.value[19].Played)\n                                                                                )\n                                                                            )\n                                                                        )\n                                                                    )\n                                                                )\n                                                            )\n                                                        )\n                                                    )\n                                                )\n                                            )\n                                        )\n                                    )\n                                )\n                            )\n                        )\n                    )\n                )    \n            )\n        )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LU Last Game Count",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "If No Game Count Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_csv_gen",
						"type": "DatasetReference",
						"parameters": {
							"FILE_SYS": "premtracker",
							"DIR": {
								"value": "@concat(\n    'stg/gamecount/',\n    pipeline().parameters.YEAR\n)",
								"type": "Expression"
							},
							"FILE_NM": "base.csv"
						}
					}
				}
			},
			{
				"name": "If New Games Get Data",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set GamesPlayed",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LU Last Game Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\n    int(variables('GAMES_PLAYED')),\n    int(activity('LU Last Game Count').output.firstRow.LastGameCount)\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Prem Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "WebSource",
									"additionalColumns": [
										{
											"name": "currentTs",
											"value": {
												"value": "@formatDateTime(utcnow(), 'yyyy.MM.dd HH:mm:ss')",
												"type": "Expression"
											}
										},
										{
											"name": "season",
											"value": {
												"value": "@pipeline().parameters.YEAR",
												"type": "Expression"
											}
										}
									]
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Team",
												"type": "String"
											},
											"sink": {
												"name": "Team",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Played"
											},
											"sink": {
												"name": "Pl",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Won"
											},
											"sink": {
												"name": "W",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Drawn"
											},
											"sink": {
												"name": "D",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Lost"
											},
											"sink": {
												"name": "L",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Goals For"
											},
											"sink": {
												"name": "F",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Goals Against"
											},
											"sink": {
												"name": "A",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Goal Difference"
											},
											"sink": {
												"name": "GD",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Points"
											},
											"sink": {
												"name": "Pts",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "currentTs",
												"type": "String"
											},
											"sink": {
												"name": "current_ts",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "season",
												"type": "String"
											},
											"sink": {
												"name": "season",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": false,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_webtbl_bbcprem",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_csv_gen",
									"type": "DatasetReference",
									"parameters": {
										"FILE_SYS": "premtracker",
										"DIR": {
											"value": "@concat(\n    'stg/table/',\n    pipeline().parameters.YEAR,\n    '/inbound'\n)",
											"type": "Expression"
										},
										"FILE_NM": {
											"value": "@concat('table-', utcNow(), '.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update Last Game Count",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy Prem Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "NewGameCount",
											"value": {
												"value": "@variables('GAMES_PLAYED')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "NewGameCount",
												"type": "String"
											},
											"sink": {
												"name": "LastGameCount",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_csv_gen",
									"type": "DatasetReference",
									"parameters": {
										"FILE_SYS": "premtracker",
										"DIR": "stg/gamecount",
										"FILE_NM": "base.csv"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_csv_gen",
									"type": "DatasetReference",
									"parameters": {
										"FILE_SYS": "premtracker",
										"DIR": {
											"value": "@concat(\n    'stg/gamecount/',\n    pipeline().parameters.YEAR\n)",
											"type": "Expression"
										},
										"FILE_NM": "base.csv"
									}
								}
							]
						},
						{
							"name": "raw_table",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Update Last Game Count",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_premtracker_table_s2r",
									"type": "DataFlowReference",
									"parameters": {
										"YEAR": {
											"value": "'@{pipeline().parameters.YEAR}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "r2f",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "raw_table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_premtracker_r2f_mock1",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "None",
								"cacheSinks": {
									"firstRowOnly": true
								},
								"continuationSettings": {
									"customizedCheckpointKey": "b7a30d6d-5e7f-4aa0-912e-00f322356ecd"
								}
							}
						}
					]
				}
			},
			{
				"name": "check Game Count Exists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csv_gen",
						"type": "DatasetReference",
						"parameters": {
							"FILE_SYS": "premtracker",
							"DIR": {
								"value": "@concat(\n    'stg/gamecount/',\n    pipeline().parameters.YEAR\n)",
								"type": "Expression"
							},
							"FILE_NM": "base.csv"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If No Game Count Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "check Game Count Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('check Game Count Exists').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set Last Game Count 0",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_csv_gen",
									"type": "DatasetReference",
									"parameters": {
										"FILE_SYS": "premtracker",
										"DIR": "stg/gamecount",
										"FILE_NM": "base.csv"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_csv_gen",
									"type": "DatasetReference",
									"parameters": {
										"FILE_SYS": "premtracker",
										"DIR": {
											"value": "@concat(\n    'stg/gamecount/',\n    pipeline().parameters.YEAR\n)",
											"type": "Expression"
										},
										"FILE_NM": "base.csv"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"YEAR": {
				"type": "string",
				"defaultValue": "2024"
			}
		},
		"variables": {
			"GAMES_PLAYED": {
				"type": "String",
				"defaultValue": "200"
			}
		},
		"folder": {
			"name": "premtracker"
		},
		"annotations": []
	}
}