pipeline/pullCwl.json
{
	"name": "pullCwlTest",
	"properties": {
		"activities": [
			{
				"name": "pullCurrentCWL",
				"description": "call clash api /clans for given CLAN_TAG param",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "set OutFileNM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_api",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SRC_REL_URL": {
							"value": "@concat(\n    'clans/',\n    pipeline().parameters.CLAN_TAG,\n    '/currentwar/leaguegroup'\n)",
							"type": "Expression"
						},
						"TGT_DIR": "clash/stg/cwl/",
						"TGT_FILE_NM": {
							"value": "@variables('OUT_FILE_NAME')",
							"type": "Expression"
						},
						"JOB_TIME": {
							"value": "@pipeline().parameters.JOB_TIME",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "LookupCWLRounds",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "pullCurrentCWL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "clan_ds_json",
						"type": "DatasetReference",
						"parameters": {
							"TGT_DIR": "clash/stg/cwl/",
							"TGT_FILE_NM": {
								"value": "@variables('OUT_FILE_NAME')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "set OutFileNM",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "OUT_FILE_NAME",
					"value": {
						"value": "@concat(\n    'clandata_',\n    utcnow(),\n    '.json'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach CWL_ROUND",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "set CWL_ROUNDS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('CWL_ROUNDS')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "pullCurrentCWLWar",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pullCWLWar",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"WAR_TAGS": {
										"value": "@item().warTags",
										"type": "Expression"
									},
									"JOB_TIME": {
										"value": "@pipeline().parameters.JOB_TIME",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "set CWL_ROUNDS",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupCWLRounds",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CWL_ROUNDS",
					"value": {
						"value": "@activity('LookupCWLRounds').output.value[0].rounds",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"CLAN_TAG": {
				"type": "string",
				"defaultValue": "#P02CUUUU"
			},
			"JOB_TIME": {
				"type": "string"
			}
		},
		"variables": {
			"OUT_FILE_NAME": {
				"type": "String",
				"defaultValue": "clandata_2023-05-21T05:28:18.1963747Z.json"
			},
			"CWL_ROUNDS": {
				"type": "Array"
			},
			"WAR_TAGS_ARRAY": {
				"type": "String"
			}
		},
		"folder": {
			"name": "clash/pull/endpoints"
		},
		"annotations": []
	}
}