pipeline/pullClanData.json
{
	"name": "pullClanData",
	"properties": {
		"activities": [
			{
				"name": "pullClan",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "set JobStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pullClan",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CLAN_TAG": {
							"value": "@pipeline().parameters.CLAN_TAG",
							"type": "Expression"
						},
						"JOB_TIME": {
							"value": "@variables('JOB_START_TIME')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "pullCurrentCWL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "set JobStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pullCurrentCWL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CLAN_TAG": {
							"value": "@variables('JOB_START_TIME')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "pullCurrentWar",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "set JobStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pullCurrentWar",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CLAN_TAG": {
							"value": "@variables('JOB_START_TIME')pipeline().parameters.CLAN_TAG",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "set JobStart",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "JOB_START_TIME",
					"value": {
						"value": "utcNow()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"CLAN_TAG": {
				"type": "string",
				"defaultValue": "#P02CUUUU"
			}
		},
		"variables": {
			"JOB_START_TIME": {
				"type": "String"
			}
		},
		"folder": {
			"name": "clash/pull"
		},
		"annotations": []
	}
}