pipeline/sleeper_status.json
{
	"name": "sleeper_status",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://api.sleeper.app/v1/state/nfl",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "previousStateExists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_json_gen",
						"type": "DatasetReference",
						"parameters": {
							"FILE_SYS": "raw",
							"DIR": "sleeper/state",
							"FILE_NM": "dev_state.json"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "previousStateExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('previousStateExists').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Get state",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_sleeper",
									"type": "DatasetReference",
									"parameters": {
										"par_rel_url": {
											"value": "@'state/nfl'",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_json_gen",
									"type": "DatasetReference",
									"parameters": {
										"FILE_SYS": "raw",
										"DIR": "sleeper/matchups",
										"FILE_NM": "dev_state.json"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"par_league_id": {
				"type": "string",
				"defaultValue": "992125474790772736"
			},
			"par_week": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"variables": {
			"var_sleeper_week": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "sleeper"
		},
		"annotations": []
	}
}