spotify-scrape-dev/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "spotify-scrape-dev"
		},
		"Sheets_apiToken": {
			"type": "secureString",
			"metadata": "Secure string for 'apiToken' of 'Sheets'"
		},
		"spotify-scrape-dev-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'spotify-scrape-dev-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:spotify-scrape-dev.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"ls_clash_restapi_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.clashofclans.com/v1/"
		},
		"ls_kv_appcreds_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://app-creds.vault.azure.net/"
		},
		"spotify-scrape-dev-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://spotifyfam.dfs.core.windows.net"
		},
		"clash_s_r_pullClan_properties_pullClanData_parameters_CLAN_TAG": {
			"type": "string",
			"defaultValue": "#P02CUUUU"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/etl')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "pr2r",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "pr2r",
								"type": "DataFlowReference",
								"parameters": {
									"SRC_DIR": "\"clash\"",
									"SRC_FN": "\"clan\"",
									"TGT_DIR": "\"deltalake/raw/clan/\""
								},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"continuationSettings": {
								"customizedCheckpointKey": "f4b0e374-6a9f-49c2-a355-45ff1787c316"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SRC_DIR": {
						"type": "string",
						"defaultValue": "clash"
					},
					"SRC_FN": {
						"type": "string",
						"defaultValue": "clan"
					},
					"TGT_DIR": {
						"type": "string",
						"defaultValue": "deltalake/raw/clan/"
					}
				},
				"folder": {
					"name": "clash"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/dataflows/pr2r')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pl_api')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "s_pr_api",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "api_call_ts",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								],
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "setOfObjects"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {
									"URL_REL": {
										"value": "@replace(pipeline().parameters.SRC_REL_URL, '#', '%23')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "clan_ds_json",
								"type": "DatasetReference",
								"parameters": {
									"TGT_DIR": {
										"value": "@pipeline().parameters.TGT_DIR",
										"type": "Expression"
									},
									"TGT_FILE_NM": {
										"value": "@pipeline().parameters.TGT_FILE_NM",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SRC_REL_URL": {
						"type": "string",
						"defaultValue": "clans/%23P02CUUUU"
					},
					"TGT_DIR": {
						"type": "string",
						"defaultValue": "clash/clan/"
					},
					"TGT_FILE_NM": {
						"type": "string",
						"defaultValue": "test_result.json"
					}
				},
				"folder": {
					"name": "clash/api"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/RestResource1')]",
				"[concat(variables('workspaceId'), '/datasets/clan_ds_json')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pullClan')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "pullClan",
						"description": "call clash api /clans for given CLAN_TAG param",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_api",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SRC_REL_URL": {
									"value": "@concat(\n    'clans/',\n    pipeline().parameters.CLAN_TAG\n)",
									"type": "Expression"
								},
								"TGT_DIR": "clash/clan/",
								"TGT_FILE_NM": {
									"value": "@concat(\n    'clandata_',\n    utcnow(),\n    '.json'\n)",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"CLAN_TAG": {
						"type": "string",
						"defaultValue": "#P02CUUUU"
					}
				},
				"folder": {
					"name": "clash/pull/endpoints"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/pl_api')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pullClanData')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "pullClan",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pullClan",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"CLAN_TAG": {
									"value": "@pipeline().parameters.CLAN_TAG",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "pullCurrentCWL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pullCurrentCWL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"CLAN_TAG": {
									"value": "@pipeline().parameters.CLAN_TAG",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "pullCurrentWar",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pullCurrentWar",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"CLAN_TAG": {
									"value": "@pipeline().parameters.CLAN_TAG",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"CLAN_TAG": {
						"type": "string",
						"defaultValue": "#P02CUUUU"
					}
				},
				"variables": {
					"CLAN_MEMBERS": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "clash/pull"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/pullClan')]",
				"[concat(variables('workspaceId'), '/pipelines/pullCurrentCWL')]",
				"[concat(variables('workspaceId'), '/pipelines/pullCurrentWar')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pullClanTest')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "pullClan",
						"description": "call clash api /clans for given CLAN_TAG param",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "set OutFileNM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_api",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SRC_REL_URL": {
									"value": "@concat(\n    'clans/',\n    pipeline().parameters.CLAN_TAG\n)",
									"type": "Expression"
								},
								"TGT_DIR": "clash/clan/",
								"TGT_FILE_NM": {
									"value": "@variables('OUT_FILE_NAME')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "LookupClanMembers",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "pullClan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "clan_ds_json",
								"type": "DatasetReference",
								"parameters": {
									"TGT_DIR": "clash/clan/",
									"TGT_FILE_NM": {
										"value": "@variables('OUT_FILE_NAME')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "set OutFileNM",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "OUT_FILE_NAME",
							"value": {
								"value": "@concat(\n    'clandata_',\n    utcnow(),\n    '.json'\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach ClanMember",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "set ClanMembers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('CLAN_MEMBERS')",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "pullPlayer",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pullPlayer",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"PLAYER_TAG": {
												"value": "@item().tag",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "set ClanMembers",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LookupClanMembers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "CLAN_MEMBERS",
							"value": {
								"value": "@activity('LookupClanMembers').output.value[0].memberList",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"CLAN_TAG": {
						"type": "string",
						"defaultValue": "#P02CUUUU"
					}
				},
				"variables": {
					"OUT_FILE_NAME": {
						"type": "String",
						"defaultValue": "clandata_2023-05-21T05:28:18.1963747Z.json"
					},
					"CLAN_MEMBERS": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "clash/pull/endpoints"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/pl_api')]",
				"[concat(variables('workspaceId'), '/datasets/clan_ds_json')]",
				"[concat(variables('workspaceId'), '/pipelines/pullPlayer')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pullCurrentCWL')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "pullCurrentCWL",
						"description": "call clash api /clans for given CLAN_TAG param",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_api",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SRC_REL_URL": {
									"value": "@concat(\n    'clans/',\n    pipeline().parameters.CLAN_TAG,\n    '/currentwar/leaguegroup'\n)",
									"type": "Expression"
								},
								"TGT_DIR": "clash/cwl/",
								"TGT_FILE_NM": {
									"value": "@concat(\n    'cwldata_',\n    utcnow(),\n    '.json'\n)",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"CLAN_TAG": {
						"type": "string",
						"defaultValue": "#P02CUUUU"
					}
				},
				"folder": {
					"name": "clash/pull/endpoints"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/pl_api')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pullCurrentWar')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "pullCurrentWar",
						"description": "call clash api /clans for given CLAN_TAG param",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_api",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SRC_REL_URL": {
									"value": "@concat(\n    'clans/',\n    pipeline().parameters.CLAN_TAG,\n    '/currentwar'\n)",
									"type": "Expression"
								},
								"TGT_DIR": "clash/wars/",
								"TGT_FILE_NM": {
									"value": "@concat(\n    'wardata_',\n    utcnow(),\n    '.json'\n)",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"CLAN_TAG": {
						"type": "string",
						"defaultValue": "#P02CUUUU"
					}
				},
				"folder": {
					"name": "clash/pull/endpoints"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/pl_api')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pullMembers')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "pullPlayers",
						"description": "call clash api /clans for given CLAN_TAG param",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_api",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SRC_REL_URL": {
									"value": "@concat(\n    'clans/',\n    pipeline().parameters.CLAN_TAG,\n    '/members/'\n)",
									"type": "Expression"
								},
								"TGT_DIR": "clash/players/",
								"TGT_FILE_NM": {
									"value": "@concat(\n    'membersdata_',\n    utcnow(),\n    '.json'\n)",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"CLAN_TAG": {
						"type": "string",
						"defaultValue": "#P02CUUUU"
					}
				},
				"folder": {
					"name": "clash/pull/endpoints"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/pl_api')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pullPlayer')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "pullPlayer",
						"description": "call clash api /clans for given CLAN_TAG param",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_api",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SRC_REL_URL": {
									"value": "@concat(\n    'players/',\n    pipeline().parameters.PLAYER_TAG\n)",
									"type": "Expression"
								},
								"TGT_DIR": "clash/player/",
								"TGT_FILE_NM": {
									"value": "@concat(\n    'player_',\n    utcnow(),\n    '.json'\n)",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"PLAYER_TAG": {
						"type": "string",
						"defaultValue": "#YJV2882JL"
					}
				},
				"folder": {
					"name": "clash/pull/endpoints"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/pl_api')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/r2f_invoices')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "r2f_invoice_creation",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "r2f_spotify_sub_users_invoice_creation",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SpotifyUsers": {},
									"InvoiceTarget": {},
									"TargetUserAccounts": {},
									"Invoices": {},
									"SpotifyUserAccounts": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Coarse",
							"continuationSettings": {
								"customizedCheckpointKey": "096ef6dc-f66e-4bb7-8329-47b6e82f5ed8"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "spotify"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-17T03:43:06Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/dataflows/r2f_spotify_sub_users_invoice_creation')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/r2r_invoice_subCharges')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "monthly sub charges",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "r2r_monthly_sub_charges",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"userAccLog": {},
									"subCharges": {},
									"monthlySubCharges": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Coarse",
							"continuationSettings": {
								"customizedCheckpointKey": "79658ea1-c548-4394-898c-a0b8657e72d5"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "spotify"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/dataflows/r2r_monthly_sub_charges')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/r2r_new_invoices')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "r2r_new_invoices",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "r2r_new_invoices",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"userAccounts": {},
									"userAccountsLog": {},
									"subAccounts": {},
									"Invoices": {},
									"AddInvoices": {},
									"InvoiceUserlogLookup": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Coarse",
							"continuationSettings": {
								"customizedCheckpointKey": "a431e8e1-46f3-419c-b43d-d7ef9c3c1dcc"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "spotify"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/dataflows/r2r_new_invoices')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/s2r_spotify_accounts')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "s2pr_spotify_accounts",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "s2pr_spotify_accounts_cdc",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"spotifyAccounts": {},
									"TargetUserAccounts": {},
									"UserAccounts": {},
									"AccountsStaging": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"continuationSettings": {
								"customizedCheckpointKey": "9850c893-9587-4a92-b48a-3c7ae7a809b0"
							}
						}
					},
					{
						"name": "pr2r_spotify_accounts",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "s2pr_spotify_accounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "pr2r_spotify_accounts",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SpotifyUsersStaging": {},
									"UserAccountsLookup": {},
									"RawUserAccountsKeys": {},
									"RawUserAccountsLog": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Coarse"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "spotify"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-22T19:21:59Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/dataflows/s2pr_spotify_accounts_cdc')]",
				"[concat(variables('workspaceId'), '/dataflows/pr2r_spotify_accounts')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/RestResource1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_clash_restapi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"URL_REL": {
						"type": "string",
						"defaultValue": "clans/%23P02CUUUU"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().URL_REL",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ls_clash_restapi')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/clan_ds_json')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TGT_DIR": {
						"type": "string",
						"defaultValue": "clash/clan/"
					},
					"TGT_FILE_NM": {
						"type": "string",
						"defaultValue": "test_result.json"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().TGT_FILE_NM",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().TGT_DIR",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/spotify-scrape-dev-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/raw_spotify_subs_accounts')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "raw/spotify_subs_accounts",
						"fileSystem": "sys"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "active_ts",
						"type": "INT96"
					},
					{
						"name": "member_type",
						"type": "UTF8"
					},
					{
						"name": "sub_id",
						"type": "INT64"
					},
					{
						"name": "username",
						"type": "UTF8"
					},
					{
						"name": "inbound_file_name",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/spotify-scrape-dev-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/spotify_accounts_staging')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "staging/spotify_account_user_log",
						"fileSystem": "spotifyfam"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/spotify-scrape-dev-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/spotify_sub_acc_inbound')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "inbound",
						"fileSystem": "spotifyfam"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/spotify-scrape-dev-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/subscription_charges')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "raw/sub_charges_monthly",
						"fileSystem": "sys"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "INT64"
					},
					{
						"name": "sub_id",
						"type": "INT64"
					},
					{
						"name": "year",
						"type": "INT64"
					},
					{
						"name": "month",
						"type": "INT64"
					},
					{
						"name": "created_at",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/spotify-scrape-dev-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/user_account_log')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "raw/user_accounts_log",
						"fileSystem": "sys"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "user_id",
						"type": "INT64"
					},
					{
						"name": "sub_id",
						"type": "INT64"
					},
					{
						"name": "username",
						"type": "UTF8"
					},
					{
						"name": "member_type",
						"type": "UTF8"
					},
					{
						"name": "active_ts",
						"type": "INT96"
					},
					{
						"name": "inbound_file_name",
						"type": "UTF8"
					},
					{
						"name": "id",
						"type": "INT64"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/spotify-scrape-dev-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Sheets')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "GoogleSheets",
				"typeProperties": {
					"apiToken": {
						"type": "SecureString",
						"value": "[parameters('Sheets_apiToken')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ls_clash_restapi')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"description": "ls connection using self hosted ir\nbearer token from ClashDB project secret script",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('ls_clash_restapi_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"Accept": {
							"type": "SecureString",
							"value": "**********"
						},
						"authorization": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				},
				"connectVia": {
					"referenceName": "clash-SHIR-laptop",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/clash-SHIR-laptop')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ls_kv_appcreds')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_kv_appcreds_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/spotify-scrape-dev-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('spotify-scrape-dev-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/spotify-scrape-dev-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('spotify-scrape-dev-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/clash_s_r_pullClan')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pullClanData",
							"type": "PipelineReference"
						},
						"parameters": {
							"CLAN_TAG": "[parameters('clash_s_r_pullClan_properties_pullClanData_parameters_CLAN_TAG')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 12,
						"startTime": "2023-05-23T00:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/pullClanData')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/r2r_invoice_creation')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "r2r_new_invoices",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 2,
						"startTime": "2023-02-05T00:08:00Z",
						"timeZone": "UTC",
						"schedule": {
							"weekDays": [
								"Tuesday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/r2r_new_invoices')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/s2r_weekly_spotify_accounts')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "s2r_spotify_accounts",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2023-01-20T01:45:00Z",
						"timeZone": "UTC",
						"schedule": {
							"hours": [
								2
							],
							"weekDays": [
								"Friday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/s2r_spotify_accounts')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/clash-SHIR-laptop')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Dataflow1')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "clash"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
								"type": "LinkedServiceReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
								"type": "LinkedServiceReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"parameters{",
						"     SRC_DIR as string (\"clash/clan\")",
						"}",
						"source(output(",
						"          badgeUrls as (large as string, medium as string, small as string),",
						"          capitalLeague as (id as integer, name as string),",
						"          chatLanguage as (id as integer, languageCode as string, name as string),",
						"          clanBuilderBasePoints as integer,",
						"          clanCapital as (capitalHallLevel as short, districts as (districtHallLevel as short, id as integer, name as string)[]),",
						"          clanCapitalPoints as short,",
						"          clanLevel as short,",
						"          clanPoints as short,",
						"          clanVersusPoints as integer,",
						"          description as string,",
						"          isFamilyFriendly as boolean,",
						"          isWarLogPublic as boolean,",
						"          labels as (iconUrls as (medium as string, small as string), id as integer, name as string)[],",
						"          location as (countryCode as string, id as integer, isCountry as boolean, name as string),",
						"          memberList as (builderBaseLeague as (id as integer, name as string), builderBaseTrophies as short, clanRank as short, donations as short, donationsReceived as short, expLevel as short, league as (iconUrls as (medium as string, small as string, tiny as string), id as integer, name as string), name as string, playerHouse as (elements as (id as integer, type as string)[]), previousClanRank as short, role as string, tag as string, trophies as short, versusTrophies as short)[],",
						"          members as short,",
						"          name as string,",
						"          requiredBuilderBaseTrophies as boolean,",
						"          requiredTownhallLevel as short,",
						"          requiredTrophies as short,",
						"          requiredVersusTrophies as boolean,",
						"          tag as string,",
						"          type as string,",
						"          warFrequency as string,",
						"          warLeague as (id as integer, name as string),",
						"          warWinStreak as boolean,",
						"          warWins as short",
						"     ),",
						"     useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false,",
						"     enableCdc: true,",
						"     mode: 'read',",
						"     skipInitialLoad: false,",
						"     rowUrlColumn: 'inbound_file_nm',",
						"     format: 'json',",
						"     fileSystem: ($SRC_DIR),",
						"     documentForm: 'documentPerLine') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delta',",
						"     compressionType: 'snappy',",
						"     compressionLevel: 'Fastest',",
						"     fileSystem: 'clash',",
						"     folderPath: 'test4',",
						"     mergeSchema: false,",
						"     autoCompact: true,",
						"     optimizedWrite: true,",
						"     vacuum: 0,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/spotify-scrape-dev-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pr2r')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "clash"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
								"type": "LinkedServiceReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
								"type": "LinkedServiceReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "addCurrentTS"
						}
					],
					"scriptLines": [
						"parameters{",
						"     SRC_DIR as string (\"clash\"),",
						"     SRC_FN as string (\"clan\"),",
						"     TGT_DIR as string (\"deltalake/raw/clan/\")",
						"}",
						"source(useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false,",
						"     enableCdc: true,",
						"     mode: 'read',",
						"     skipInitialLoad: false,",
						"     format: 'json',",
						"     fileSystem: ($SRC_DIR),",
						"     folderPath: ($SRC_FN),",
						"     documentForm: 'documentPerLine') ~> source1",
						"source1 derive(load_ts = currentTimestamp()) ~> addCurrentTS",
						"addCurrentTS sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delta',",
						"     fileSystem: 'clash',",
						"     folderPath: ($TGT_DIR),",
						"     mergeSchema: true,",
						"     autoCompact: true,",
						"     optimizedWrite: true,",
						"     vacuum: 0,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/spotify-scrape-dev-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pr2r_spotify_accounts')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "spotify"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "spotify_accounts_staging",
								"type": "DatasetReference"
							},
							"name": "SpotifyUsersStaging"
						},
						{
							"name": "UserAccountsLookup"
						},
						{
							"name": "RawUserAccountsKeys"
						}
					],
					"sinks": [
						{
							"name": "RawUserAccountsLog"
						}
					],
					"transformations": [
						{
							"name": "SelectCompositeKeys"
						},
						{
							"name": "joinUserID"
						},
						{
							"name": "select1"
						},
						{
							"name": "AddLogID"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "tempColumn"
						},
						{
							"name": "LogMaxID"
						},
						{
							"name": "AddMaxLogID"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          active_ts as timestamp,",
						"          member_type as string,",
						"          sub_id as long,",
						"          username as string,",
						"          inbound_file_name as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: true,",
						"     purgeFiles: true,",
						"     modifiedAfter: (toTimestamp(1674345600000L)),",
						"     format: 'parquet') ~> SpotifyUsersStaging",
						"source(output(",
						"          id as long,",
						"          sub_id as long,",
						"          username as string,",
						"          member_type as string,",
						"          created_at as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'raw',",
						"     tableName: 'user_accounts') ~> UserAccountsLookup",
						"source(output(",
						"          user_id as long,",
						"          sub_id as long,",
						"          username as string,",
						"          member_type as string,",
						"          active_ts as timestamp,",
						"          inbound_file_name as string,",
						"          id as long",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'raw',",
						"     tableName: 'user_accounts_log') ~> RawUserAccountsKeys",
						"UserAccountsLookup select(mapColumn(",
						"          user_id = id,",
						"          sub_id,",
						"          username,",
						"          member_type",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectCompositeKeys",
						"SpotifyUsersStaging, SelectCompositeKeys join(SpotifyUsersStaging@sub_id == SelectCompositeKeys@sub_id",
						"     && SpotifyUsersStaging@username == SelectCompositeKeys@username",
						"     && SpotifyUsersStaging@member_type == SelectCompositeKeys@member_type,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinUserID",
						"joinUserID select(mapColumn(",
						"          user_id,",
						"          sub_id = SpotifyUsersStaging@sub_id,",
						"          username = SpotifyUsersStaging@username,",
						"          member_type = SpotifyUsersStaging@member_type,",
						"          active_ts,",
						"          inbound_file_name",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 keyGenerate(output(id as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> AddLogID",
						"tempColumn aggregate(groupBy(temp),",
						"     maxID = max(id)) ~> aggregate1",
						"RawUserAccountsKeys derive(temp = 'temp') ~> tempColumn",
						"aggregate1 select(mapColumn(",
						"          maxID",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> LogMaxID",
						"AddLogID, LogMaxID join(true(),",
						"     joinType:'cross',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> AddMaxLogID",
						"AddMaxLogID derive(id = id + maxID) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          id,",
						"          user_id,",
						"          sub_id,",
						"          username,",
						"          member_type,",
						"          active_ts,",
						"          inbound_file_name",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"select2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'raw',",
						"     tableName: 'user_accounts_log') ~> RawUserAccountsLog"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/spotify_accounts_staging')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/r2f_invoice_key_lookup')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "spotify"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "TargetUserAccounts"
						}
					],
					"sinks": [
						{
							"name": "maxAccountID"
						},
						{
							"name": "AccountCompositeLookup"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "select1"
						},
						{
							"name": "AccountCompositeKeys"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as long,",
						"          sub_id as long,",
						"          username as string,",
						"          member_type as string,",
						"          created_timestamp as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'foundation',",
						"     tableName: 'spotify_user_accounts') ~> TargetUserAccounts",
						"TargetUserAccounts derive(temp = 'temp') ~> derivedColumn1",
						"derivedColumn1 aggregate(groupBy(temp),",
						"     maxAccountID = max(id)) ~> aggregate1",
						"aggregate1 select(mapColumn(",
						"          maxAccountID",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"TargetUserAccounts aggregate(groupBy(sub_id,",
						"          username,",
						"          member_type),",
						"     count = count()) ~> AccountCompositeKeys",
						"select1 sink(validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     store: 'cache',",
						"     format: 'inline',",
						"     output: false,",
						"     saveOrder: 0) ~> maxAccountID",
						"AccountCompositeKeys sink(validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     store: 'cache',",
						"     format: 'inline',",
						"     output: false,",
						"     saveOrder: 0) ~> AccountCompositeLookup"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/r2f_spotify_sub_users_invoice_creation')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "spotify"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "raw_spotify_subs_accounts",
								"type": "DatasetReference"
							},
							"name": "SpotifyUsers"
						},
						{
							"name": "InvoiceTarget"
						},
						{
							"name": "TargetUserAccounts"
						}
					],
					"sinks": [
						{
							"name": "Invoices"
						},
						{
							"name": "SpotifyUserAccounts"
						}
					],
					"transformations": [
						{
							"name": "CreateInvoices"
						},
						{
							"name": "AddInvoiceDetails"
						},
						{
							"name": "SelectInvoiceColumns"
						},
						{
							"name": "checkInvoices"
						},
						{
							"name": "GetUsers"
						},
						{
							"name": "BaseKeyVals"
						},
						{
							"name": "AddIDandColumns"
						},
						{
							"name": "GetMaxID"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "MaxUserID"
						},
						{
							"name": "UserCompositeKeys"
						},
						{
							"name": "CheckUserComposite"
						},
						{
							"name": "JoinMaxUserID"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          active_ts as timestamp,",
						"          member_type as string,",
						"          sub_id as long,",
						"          username as string,",
						"          inbound_file_name as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     enableCdc: true,",
						"     mode: 'read',",
						"     skipInitialLoad: false,",
						"     format: 'parquet') ~> SpotifyUsers",
						"source(output(",
						"          year as integer,",
						"          month as integer,",
						"          sub_id as long,",
						"          test as long,",
						"          last_day_of_month as date,",
						"          description as string,",
						"          invoiced as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'foundation',",
						"     tableName: 'invoices') ~> InvoiceTarget",
						"source(output(",
						"          id as long,",
						"          sub_id as long,",
						"          username as string,",
						"          member_type as string,",
						"          created_timestamp as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'foundation',",
						"     tableName: 'spotify_user_accounts') ~> TargetUserAccounts",
						"SpotifyUsers aggregate(groupBy(year = year(active_ts),",
						"          month = month(active_ts),",
						"          sub_id),",
						"     test = approxDistinctCount(active_ts)) ~> CreateInvoices",
						"checkInvoices derive(last_day_of_month = lastDayOfMonth((toDate(toString(year) + \"-\" + toString(month), \"yyyy-M\", 'en-US'))),",
						"          description = 'Monthly spotify Invoice',",
						"          invoiced = 'N') ~> AddInvoiceDetails",
						"AddInvoiceDetails select(mapColumn(",
						"          year,",
						"          month,",
						"          sub_id,",
						"          last_day_of_month,",
						"          description,",
						"          invoiced",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectInvoiceColumns",
						"CreateInvoices, InvoiceTarget exists(CreateInvoices@year == InvoiceTarget@year",
						"     && CreateInvoices@month == InvoiceTarget@month",
						"     && CreateInvoices@sub_id == InvoiceTarget@sub_id,",
						"     negate:true,",
						"     broadcast: 'auto')~> checkInvoices",
						"SpotifyUsers aggregate(groupBy(sub_id,",
						"          username,",
						"          member_type),",
						"     count = count()) ~> GetUsers",
						"CheckUserComposite keyGenerate(output(id as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> BaseKeyVals",
						"JoinMaxUserID derive(id = id + maxID,",
						"          created_at = currentTimestamp()) ~> AddIDandColumns",
						"derivedColumn2 aggregate(groupBy(temp),",
						"     maxID = max(id)) ~> GetMaxID",
						"TargetUserAccounts derive(temp = 'temp') ~> derivedColumn2",
						"GetMaxID select(mapColumn(",
						"          maxID",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> MaxUserID",
						"TargetUserAccounts aggregate(groupBy(sub_id,",
						"          username,",
						"          member_type),",
						"     count = count()) ~> UserCompositeKeys",
						"GetUsers, UserCompositeKeys exists(GetUsers@sub_id == UserCompositeKeys@sub_id",
						"     && GetUsers@username == UserCompositeKeys@username",
						"     && GetUsers@member_type == UserCompositeKeys@member_type,",
						"     negate:true,",
						"     broadcast: 'auto')~> CheckUserComposite",
						"BaseKeyVals, MaxUserID join(true(),",
						"     joinType:'cross',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinMaxUserID",
						"AddIDandColumns select(mapColumn(",
						"          sub_id,",
						"          username,",
						"          member_type,",
						"          id,",
						"          created_at",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"SelectInvoiceColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'foundation',",
						"     tableName: 'invoices') ~> Invoices",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'foundation',",
						"     tableName: 'spotify_user_accounts') ~> SpotifyUserAccounts"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/raw_spotify_subs_accounts')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/r2r_monthly_sub_charges')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "spotify"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "user_account_log",
								"type": "DatasetReference"
							},
							"name": "userAccLog"
						},
						{
							"name": "subCharges"
						}
					],
					"sinks": [
						{
							"name": "monthlySubCharges"
						}
					],
					"transformations": [
						{
							"name": "monthlySubs"
						},
						{
							"name": "newSubCharges"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						},
						{
							"name": "DefaultIDs"
						},
						{
							"name": "MaxID"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "GetMaxIDs"
						}
					],
					"scriptLines": [
						"source(output(",
						"          user_id as long,",
						"          sub_id as long,",
						"          username as string,",
						"          member_type as string,",
						"          active_ts as timestamp,",
						"          inbound_file_name as string,",
						"          id as long",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     enableCdc: true,",
						"     mode: 'read',",
						"     skipInitialLoad: false,",
						"     format: 'parquet') ~> userAccLog",
						"source(output(",
						"          id as long,",
						"          sub_id as long,",
						"          year as long,",
						"          month as long,",
						"          created_at as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'raw',",
						"     tableName: 'sub_charges_monthly') ~> subCharges",
						"userAccLog aggregate(groupBy(sub_id,",
						"          year = year(active_ts),",
						"          month = month(active_ts)),",
						"     temp = count()) ~> monthlySubs",
						"monthlySubs, subCharges exists(monthlySubs@sub_id == subCharges@sub_id",
						"     && monthlySubs@year == subCharges@year",
						"     && monthlySubs@month == subCharges@month,",
						"     negate:true,",
						"     broadcast: 'auto')~> newSubCharges",
						"GetMaxIDs derive(created_at = currentTimestamp(),",
						"          id = id + maxID) ~> derivedColumn1",
						"derivedColumn1 select(mapColumn(",
						"          id,",
						"          sub_id,",
						"          year,",
						"          month,",
						"          created_at",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"newSubCharges keyGenerate(output(id as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> DefaultIDs",
						"derivedColumn2 aggregate(groupBy(temp),",
						"     maxID = max(id)) ~> MaxID",
						"subCharges derive(temp = 'temp') ~> derivedColumn2",
						"DefaultIDs, MaxID join(true(),",
						"     joinType:'cross',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> GetMaxIDs",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'raw',",
						"     tableName: 'sub_charges_monthly') ~> monthlySubCharges"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/user_account_log')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/r2r_new_invoices')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "spotify"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "userAccounts"
						},
						{
							"dataset": {
								"referenceName": "user_account_log",
								"type": "DatasetReference"
							},
							"name": "userAccountsLog"
						},
						{
							"name": "subAccounts"
						},
						{
							"name": "Invoices"
						}
					],
					"sinks": [
						{
							"name": "AddInvoices"
						},
						{
							"name": "InvoiceUserlogLookup"
						}
					],
					"transformations": [
						{
							"name": "JoinAccountsLog"
						},
						{
							"name": "MinMaxTimes"
						},
						{
							"name": "CreateActuatlEndDate"
						},
						{
							"name": "JoinSubInfo"
						},
						{
							"name": "DefaultInvoiceID"
						},
						{
							"name": "SelectInvoiceDetails"
						},
						{
							"name": "statusColumns"
						},
						{
							"name": "join1"
						},
						{
							"name": "select1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "maxInvoiceID"
						},
						{
							"name": "GetMaxID"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "split1"
						},
						{
							"name": "LogIDtoInvoiceID"
						},
						{
							"name": "cast1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as long,",
						"          sub_id as long,",
						"          username as string,",
						"          member_type as string,",
						"          created_at as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'raw',",
						"     tableName: 'user_accounts') ~> userAccounts",
						"source(output(",
						"          user_id as long,",
						"          sub_id as long,",
						"          username as string,",
						"          member_type as string,",
						"          active_ts as timestamp,",
						"          inbound_file_name as string,",
						"          id as long",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     enableCdc: true,",
						"     mode: 'read',",
						"     skipInitialLoad: false,",
						"     format: 'parquet') ~> userAccountsLog",
						"source(output(",
						"          active_flag as string,",
						"          id as long,",
						"          site as string,",
						"          spotify_username as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'raw',",
						"     tableName: 'sub_accounts') ~> subAccounts",
						"source(output(",
						"          id as long,",
						"          sub_id as long,",
						"          start_ts as timestamp,",
						"          end_date as timestamp,",
						"          status as string,",
						"          created_at as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'raw',",
						"     tableName: 'invoices') ~> Invoices",
						"userAccounts, userAccountsLog join(userAccounts@id == user_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinAccountsLog",
						"split1@NoLinkableInvoice aggregate(groupBy(sub_id),",
						"     start_ts = min(active_ts),",
						"          end_ts = max(active_ts)) ~> MinMaxTimes",
						"JoinSubInfo derive(end_ts = iif(monthsBetween(end_ts, start_ts) < 6, lastDayOfMonth(addMonths(start_ts, 6)),  lastDayOfMonth(end_ts))) ~> CreateActuatlEndDate",
						"MinMaxTimes, subAccounts join(sub_id == id,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinSubInfo",
						"cast1 keyGenerate(output(id as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> DefaultInvoiceID",
						"derivedColumn2 select(mapColumn(",
						"          id,",
						"          sub_id,",
						"          start_date = start_ts,",
						"          end_date = end_ts",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectInvoiceDetails",
						"SelectInvoiceDetails derive(status = 'active',",
						"          created_at = currentTimestamp()) ~> statusColumns",
						"JoinAccountsLog, Invoices join(active_ts >= start_ts",
						"     && active_ts < end_date,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'right')~> join1",
						"join1 select(mapColumn(",
						"          user_id = userAccounts@id,",
						"          sub_id = userAccounts@sub_id,",
						"          username = userAccounts@username,",
						"          member_type = userAccounts@member_type,",
						"          created_at = userAccounts@created_at,",
						"          user_id,",
						"          sub_id = userAccountsLog@sub_id,",
						"          username = userAccountsLog@username,",
						"          member_type = userAccountsLog@member_type,",
						"          active_ts,",
						"          inbound_file_name,",
						"          user_log_id = userAccountsLog@id,",
						"          invoice_id = Invoices@id,",
						"          sub_id = Invoices@sub_id,",
						"          start_ts,",
						"          end_date,",
						"          status,",
						"          created_at = Invoices@created_at",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"Invoices derive(temp = 'temp') ~> derivedColumn1",
						"derivedColumn1 aggregate(groupBy(temp),",
						"     maxID = max(id)) ~> aggregate1",
						"aggregate1 select(mapColumn(",
						"          maxID",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> maxInvoiceID",
						"DefaultInvoiceID, maxInvoiceID join(true(),",
						"     joinType:'cross',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> GetMaxID",
						"GetMaxID derive(id = id + maxID) ~> derivedColumn2",
						"select1 split(isNull(invoice_id),",
						"     disjoint: false) ~> split1@(NoLinkableInvoice, LinkableInvoice)",
						"split1@LinkableInvoice select(mapColumn(",
						"          invoice_id,",
						"          user_log_id",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> LogIDtoInvoiceID",
						"CreateActuatlEndDate cast(output(",
						"          end_ts as timestamp 'MM/dd/yyyy HH:mm:ss'",
						"     ),",
						"     errors: true) ~> cast1",
						"statusColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'raw',",
						"     tableName: 'invoices') ~> AddInvoices",
						"LogIDtoInvoiceID sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'raw',",
						"     tableName: 'invoice_to_userlog') ~> InvoiceUserlogLookup"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/user_account_log')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/s2pr_spotify_accounts_cdc')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "spotify"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "spotify_sub_acc_inbound",
								"type": "DatasetReference"
							},
							"name": "spotifyAccounts"
						},
						{
							"name": "TargetUserAccounts"
						}
					],
					"sinks": [
						{
							"name": "UserAccounts"
						},
						{
							"dataset": {
								"referenceName": "spotify_accounts_staging",
								"type": "DatasetReference"
							},
							"name": "AccountsStaging"
						}
					],
					"transformations": [
						{
							"name": "castTimestamp"
						},
						{
							"name": "GetUsers"
						},
						{
							"name": "UserCompositeKeys"
						},
						{
							"name": "tempColumn"
						},
						{
							"name": "GetMaxID"
						},
						{
							"name": "MaxUserID"
						},
						{
							"name": "CheckUserCompositeKeys"
						},
						{
							"name": "BaseKeyVals"
						},
						{
							"name": "JoinMaxUserID"
						},
						{
							"name": "AddIDandColumns"
						},
						{
							"name": "ReOrderColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          active_ts as string,",
						"          member_type as string,",
						"          sub_id as long,",
						"          username as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     enableCdc: true,",
						"     mode: 'read',",
						"     skipInitialLoad: false,",
						"     rowUrlColumn: 'inbound_file_name',",
						"     documentForm: 'documentPerLine') ~> spotifyAccounts",
						"source(output(",
						"          id as long,",
						"          sub_id as long,",
						"          username as string,",
						"          member_type as string,",
						"          created_at as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'raw',",
						"     tableName: 'user_accounts') ~> TargetUserAccounts",
						"spotifyAccounts cast(output(",
						"          active_ts as timestamp 'yyyy.MM.dd HH:mm:ss'",
						"     ),",
						"     errors: true) ~> castTimestamp",
						"castTimestamp aggregate(groupBy(sub_id,",
						"          username,",
						"          member_type),",
						"     count = count()) ~> GetUsers",
						"TargetUserAccounts aggregate(groupBy(sub_id,",
						"          username,",
						"          member_type),",
						"     count = count() + 1) ~> UserCompositeKeys",
						"TargetUserAccounts derive(temp = 'temp') ~> tempColumn",
						"tempColumn aggregate(groupBy(temp),",
						"     id = count()) ~> GetMaxID",
						"GetMaxID select(mapColumn(",
						"          maxID = id",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> MaxUserID",
						"GetUsers, UserCompositeKeys exists(GetUsers@sub_id == UserCompositeKeys@sub_id",
						"     && GetUsers@username == UserCompositeKeys@username",
						"     && GetUsers@member_type == UserCompositeKeys@member_type,",
						"     negate:true,",
						"     broadcast: 'auto')~> CheckUserCompositeKeys",
						"CheckUserCompositeKeys keyGenerate(output(id as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> BaseKeyVals",
						"BaseKeyVals, MaxUserID join(true(),",
						"     joinType:'cross',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinMaxUserID",
						"JoinMaxUserID derive(id = id + maxID,",
						"          created_at = currentTimestamp()) ~> AddIDandColumns",
						"AddIDandColumns select(mapColumn(",
						"          id,",
						"          sub_id,",
						"          username,",
						"          member_type,",
						"          created_at",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ReOrderColumns",
						"ReOrderColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     store: 'synapse',",
						"     databaseType: 'spark',",
						"     format: 'table',",
						"     database: 'raw',",
						"     tableName: 'user_accounts') ~> UserAccounts",
						"castTimestamp sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> AccountsStaging"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/spotify_sub_acc_inbound')]",
				"[concat(variables('workspaceId'), '/datasets/spotify_accounts_staging')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Due Invoices')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "Spotify"
				},
				"content": {
					"query": "SELECT TOP (100) [year]\n,[month]\n,[sub_id]\n,[last_day_of_month]\n,[description]\n,[invoiced]\n FROM [foundation].[dbo].[invoices]\n WHERE [last_day_of_month] < CURRENT_TIMESTAMP AND [invoiced] = 'N'\n ORDER BY [last_day_of_month] ASC\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "foundation",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SubAccounts')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "Spotify"
				},
				"content": {
					"query": "SELECT [subs].[id] subID, [subs].[site] as subSite, [subs].[spotify_username] subSpotifyUsername, [accounts].[id] accountID, [accounts].[username] accountUsername, [accounts].[member_type] accountMemberType, [accounts].[created_timestamp] createTs\n FROM [foundation].[dbo].[spotify_user_accounts] [accounts]\n JOIN [raw].[dbo].[spotify_sub_accs] [subs]\n    ON accounts.sub_id = subs.id",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "foundation",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/sub_accounts_log')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "Spotify"
				},
				"content": {
					"query": "SELECT *\n FROM [raw].[dbo].[sub_accounts] s\n JOIN raw.dbo.user_accounts ua\n    ON s.id = ua.sub_id\n JOIN raw.dbo.user_accounts_log ual\n    ON ua.id = ual.user_id\n ORDER BY user_id DESC, active_ts DESC",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "raw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/alter_accounts')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "spotify"
				},
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "smallspark0",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "259320df-ef7f-49f5-8fdb-1301cc9ffb42"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/6cb2d3f3-d909-494e-8c69-03fc31778b22/resourceGroups/spotify-fam/providers/Microsoft.Synapse/workspaces/spotify-scrape-dev/bigDataPools/smallspark0",
						"name": "smallspark0",
						"type": "Spark",
						"endpoint": "https://spotify-scrape-dev.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/smallspark0",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.2",
						"nodeCount": 3,
						"cores": 4,
						"memory": 28
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false
						},
						"source": [
							"%%sql\r\n",
							"\r\n",
							"SELECT * FROM raw.sub_accounts"
						],
						"outputs": [],
						"execution_count": 15
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"df = spark.sql('SELECT * FROM raw.sub_accounts')"
						],
						"outputs": [],
						"execution_count": 7
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"from pyspark.sql.functions import lit"
						],
						"outputs": [],
						"execution_count": 27
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"df = df.withColumn('type', lit('Family Plan')).withColumn('monthly_rate', lit(18.09)).withColumn('billing_months', lit(6)).withColumn('fee_rate', lit(.06))"
						],
						"outputs": [],
						"execution_count": 31
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"collapsed": false
						},
						"source": [
							"display(df)"
						],
						"outputs": [],
						"execution_count": 38
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"collapsed": false
						},
						"source": [
							"#df.write.mode('overwrite').saveAsTable('raw.sub_accounts')\r\n",
							"\r\n",
							"temp = df.collect()\r\n",
							"temp = spark.createDataFrame(temp)"
						],
						"outputs": [],
						"execution_count": 46
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"collapsed": false
						},
						"source": [
							"temp.write.mode('overwrite').saveAsTable('raw.sub_accounts')"
						],
						"outputs": [],
						"execution_count": 47
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/create_accounts')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "spotify"
				},
				"nbformat": 4,
				"nbformat_minor": 2,
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"runAsWorkspaceSystemIdentity": false,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "08dc56c2-fb7c-45bf-a103-38b8ed0a3fe5"
					}
				},
				"metadata": {
					"saveOutput": true,
					"synapse_widget": {
						"version": "0.1"
					},
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "python"
					},
					"language_info": {
						"name": "python"
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"source": [
							"subs = [\r\n",
							"    {\r\n",
							"        'id': 0,\r\n",
							"        'site': 'Spotify',\r\n",
							"        'spotify_username': 'danjam',\r\n",
							"        'active_flag' : 'Y'\r\n",
							"    }\r\n",
							"]\r\n",
							"\r\n",
							"df = spark.createDataFrame(subs)\r\n",
							"\r\n",
							"df.write.mode('overwrite').format('parquet').saveAsTable('raw.spotify_sub_accs')"
						],
						"outputs": []
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/read raw')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "clash"
				},
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "smallspark0",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "3cd650fb-c99e-48e5-a0ba-929559d9f6b5"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/6cb2d3f3-d909-494e-8c69-03fc31778b22/resourceGroups/spotify-fam/providers/Microsoft.Synapse/workspaces/spotify-scrape-dev/bigDataPools/smallspark0",
						"name": "smallspark0",
						"type": "Spark",
						"endpoint": "https://spotify-scrape-dev.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/smallspark0",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.2",
						"nodeCount": 3,
						"cores": 4,
						"memory": 28
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"source": [
							"df = spark.read.load('abfss://clash@spotifyfam.dfs.core.windows.net/deltalake/raw/clan/', format='delta')"
						],
						"outputs": [],
						"execution_count": 3
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"collapsed": false
						},
						"source": [
							"display(df)"
						],
						"outputs": [],
						"execution_count": 4
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/foundation')]",
			"type": "Microsoft.Synapse/workspaces/databases",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"Ddls": [
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "foundation",
							"EntityType": "DATABASE",
							"Origin": {
								"Type": "SPARK"
							},
							"Properties": {
								"IsSyMSCDMDatabase": true
							},
							"Source": {
								"Provider": "ADLS",
								"Location": "abfss://sys@spotifyfam.dfs.core.windows.net/foundation",
								"Properties": {
									"FormatType": "parquet",
									"LinkedServiceName": "spotify-scrape-dev-WorkspaceDefaultStorage"
								}
							},
							"PublishStatus": "PUBLISHED",
							"ObjectVersion": 3,
							"ObjectId": "bc2ef57c-2107-4015-8260-523ee4ceec13"
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "invoices",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "foundation",
								"DatabaseId": null
							},
							"Partitioning": {
								"PartitionFunctionType": null,
								"Keys": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "year",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "integer",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "integer"
											}
										}
									},
									{
										"Name": "month",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "integer",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "integer"
											}
										}
									},
									{
										"Name": "sub_id",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "last_day_of_month",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "date",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "date"
											}
										}
									},
									{
										"Name": "description",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "invoiced",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "263bf6aa-d974-4280-bfbc-59e4a69449f5",
								"Format": {
									"InputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat",
									"FormatType": "parquet",
									"SerializeLib": "org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe",
									"Properties": {
										"path": "abfss://sys@spotifyfam.dfs.core.windows.net/foundation/invoices",
										"FormatTypeSetToDatabaseDefault": false
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://sys@spotifyfam.dfs.core.windows.net/foundation/invoices",
									"Properties": {
										"LinkedServiceName": "",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": "trusted-service-user",
							"CreateTime": 1673854357,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Transient_lastDdlTime": "1673854357",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"year\",\"type\":\"integer\",\"nullable\":true,\"metadata\":{}},{\"name\":\"month\",\"type\":\"integer\",\"nullable\":true,\"metadata\":{}},{\"name\":\"sub_id\",\"type\":\"long\",\"nullable\":true,\"metadata\":{}},{\"name\":\"last_day_of_month\",\"type\":\"date\",\"nullable\":true,\"metadata\":{}},{\"name\":\"description\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"invoiced\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.provider": "parquet",
								"spark.sql.create.version": "2.4.8.2.6.99.201-76361509"
							},
							"ObjectVersion": 2,
							"ObjectId": "70d9126e-b0ae-48dd-b5e2-433d73da79b5"
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "spotify_user_accounts",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "foundation",
								"DatabaseId": null
							},
							"Partitioning": {
								"PartitionFunctionType": null,
								"Keys": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "id",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": false,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "sub_id",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "username",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "member_type",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "created_timestamp",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "timestamp",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "timestamp"
											}
										}
									}
								],
								"ColumnSetEntityName": "de2fce2b-d146-479f-a97a-b6b50921b5dc",
								"Format": {
									"InputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat",
									"FormatType": "parquet",
									"SerializeLib": "org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe",
									"Properties": {
										"path": "abfss://sys@spotifyfam.dfs.core.windows.net/foundation/spotify_user_accounts",
										"FormatTypeSetToDatabaseDefault": false
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://sys@spotifyfam.dfs.core.windows.net/foundation/spotify_user_accounts",
									"Properties": {
										"LinkedServiceName": "",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": "trusted-service-user",
							"CreateTime": 1673903828,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Transient_lastDdlTime": "1673903828",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "id",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"id\",\"type\":\"long\",\"nullable\":false,\"metadata\":{}},{\"name\":\"sub_id\",\"type\":\"long\",\"nullable\":true,\"metadata\":{}},{\"name\":\"username\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"member_type\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"created_timestamp\",\"type\":\"timestamp\",\"nullable\":true,\"metadata\":{}}]}",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.provider": "parquet",
								"spark.sql.create.version": "2.4.8.2.6.99.201-76361509"
							},
							"ObjectVersion": 2,
							"ObjectId": "5bc1f125-a7c3-404b-aecb-cb1939c124a5"
						},
						"Source": {
							"Type": "SPARK"
						}
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/raw')]",
			"type": "Microsoft.Synapse/workspaces/databases",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"Ddls": [
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "raw",
							"EntityType": "DATABASE",
							"Origin": {
								"Type": "SPARK"
							},
							"Properties": {
								"IsSyMSCDMDatabase": true
							},
							"Source": {
								"Provider": "ADLS",
								"Location": "abfss://sys@spotifyfam.dfs.core.windows.net/raw",
								"Properties": {
									"FormatType": "parquet",
									"LinkedServiceName": "spotify-scrape-dev-WorkspaceDefaultStorage"
								}
							},
							"PublishStatus": "PUBLISHED",
							"ObjectVersion": 16,
							"ObjectId": "ae3f836a-0b85-4e07-b8e8-fa84c708c8a5"
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "invoice_charges",
							"EntityType": "TABLE",
							"Namespace": {
								"DatabaseName": "raw"
							},
							"Description": "",
							"TableType": "EXTERNAL",
							"Origin": {
								"Type": "SPARK"
							},
							"StorageDescriptor": {
								"Columns": [
									{
										"Name": "id",
										"Description": "",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": false,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "invoicde_id",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "charge_id",
										"Description": "",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": false,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									}
								],
								"Format": {
									"InputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat",
									"FormatType": "parquet",
									"SerializeLib": "org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe",
									"Properties": {
										"path": "abfss://sys@spotifyfam.dfs.core.windows.net/raw/invoice_charges",
										"FormatTypeSetToDatabaseDefault": true
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://sys@spotifyfam.dfs.core.windows.net/raw/invoice_charges",
									"Properties": {
										"LinkedServiceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": true
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"IsStoredAsSubdirectories": false
							},
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "parquet"
							},
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "invoices",
							"EntityType": "TABLE",
							"Namespace": {
								"DatabaseName": "raw"
							},
							"Description": "",
							"TableType": "EXTERNAL",
							"Origin": {
								"Type": "SPARK"
							},
							"StorageDescriptor": {
								"Columns": [
									{
										"Name": "id",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "sub_id",
										"Description": "",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": false,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "start_ts",
										"Description": "",
										"OriginDataTypeName": {
											"TypeName": "timestamp",
											"IsComplexType": false,
											"IsNullable": false,
											"Properties": {
												"TimestampFormat": "YYYY-MM-DD HH:MM:SS.fffffffff",
												"HIVE_TYPE_STRING": "timestamp"
											}
										}
									},
									{
										"Name": "end_ts",
										"Description": "",
										"OriginDataTypeName": {
											"TypeName": "timestamp",
											"IsComplexType": false,
											"IsNullable": false,
											"Properties": {
												"TimestampFormat": "YYYY-MM-DD HH:MM:SS.fffffffff",
												"HIVE_TYPE_STRING": "timestamp"
											}
										}
									},
									{
										"Name": "status",
										"Description": "",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": false,
											"Length": 256,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "created_at",
										"Description": "",
										"OriginDataTypeName": {
											"TypeName": "timestamp",
											"IsComplexType": false,
											"IsNullable": false,
											"Properties": {
												"TimestampFormat": "YYYY-MM-DD HH:MM:SS.fffffffff",
												"HIVE_TYPE_STRING": "timestamp"
											}
										}
									}
								],
								"Format": {
									"InputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat",
									"FormatType": "parquet",
									"SerializeLib": "org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe",
									"Properties": {
										"path": "abfss://sys@spotifyfam.dfs.core.windows.net/raw/invoices",
										"FormatTypeSetToDatabaseDefault": true
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://sys@spotifyfam.dfs.core.windows.net/raw/invoices",
									"Properties": {
										"LinkedServiceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": true
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"IsStoredAsSubdirectories": false
							},
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "parquet"
							},
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "payment_request",
							"EntityType": "TABLE",
							"Namespace": {
								"DatabaseName": "raw"
							},
							"Description": "",
							"TableType": "EXTERNAL",
							"Origin": {
								"Type": "SPARK"
							},
							"StorageDescriptor": {
								"Columns": [
									{
										"Name": "id",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": false,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "stub_id",
										"Description": "",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": false,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									}
								],
								"Format": {
									"InputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat",
									"FormatType": "parquet",
									"SerializeLib": "org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe",
									"Properties": {
										"path": "abfss://sys@spotifyfam.dfs.core.windows.net/raw/payment_request",
										"FormatTypeSetToDatabaseDefault": true
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://sys@spotifyfam.dfs.core.windows.net/raw/payment_request",
									"Properties": {
										"LinkedServiceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": true
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"IsStoredAsSubdirectories": false
							},
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "id",
								"spark.sql.sources.provider": "parquet"
							},
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "sub_accounts",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "raw",
								"DatabaseId": null
							},
							"Partitioning": {
								"PartitionFunctionType": null,
								"Keys": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "id",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": false,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "spotify_username",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "site",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "type",
										"Description": "",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": false,
											"Length": 256,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "monthly_rate",
										"Description": "",
										"OriginDataTypeName": {
											"TypeName": "double",
											"IsComplexType": false,
											"IsNullable": false,
											"Properties": {
												"HIVE_TYPE_STRING": "double"
											}
										}
									},
									{
										"Name": "billing_months",
										"Description": "",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": false,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "active_flag",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "8cca49b5-9252-4683-8be4-9bfe448182d6",
								"Format": {
									"InputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat",
									"FormatType": "parquet",
									"SerializeLib": "org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe",
									"Properties": {
										"path": "abfss://sys@spotifyfam.dfs.core.windows.net/raw/sub_accounts",
										"FormatTypeSetToDatabaseDefault": false
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://sys@spotifyfam.dfs.core.windows.net/raw/sub_accounts",
									"Properties": {
										"LinkedServiceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": "trusted-service-user",
							"CreateTime": 1673844878,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Transient_lastDdlTime": "1673844878",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "id",
								"spark.sql.sources.schema": "{\"type\":\"struct\",\"fields\":[{\"name\":\"active_flag\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"id\",\"type\":\"long\",\"nullable\":true,\"metadata\":{}},{\"name\":\"site\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"spotify_username\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}",
								"spark.sql.sources.provider": "parquet",
								"spark.sql.create.version": "3.2.2.5.1-75622951",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"id\",\"type\":\"long\",\"nullable\":false,\"metadata\":{}},{\"name\":\"site\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"spotify_username\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"active_flag\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}",
								"spark.sql.partitionProvider": "catalog"
							},
							"ObjectVersion": 3,
							"ObjectId": "3db4e52c-c901-431d-8d34-63972d448d7d"
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "user_accounts",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "raw",
								"DatabaseId": null
							},
							"Partitioning": {
								"PartitionFunctionType": null,
								"Keys": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "id",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": false,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "sub_id",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "username",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "member_type",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "created_at",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "timestamp",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "timestamp"
											}
										}
									}
								],
								"ColumnSetEntityName": "d0bca2a1-8f65-40cb-acd7-02ada6e6561c",
								"Format": {
									"InputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat",
									"FormatType": "parquet",
									"SerializeLib": "org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe",
									"Properties": {
										"path": "abfss://sys@spotifyfam.dfs.core.windows.net/raw/user_accounts",
										"FormatTypeSetToDatabaseDefault": false
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://sys@spotifyfam.dfs.core.windows.net/raw/user_accounts",
									"Properties": {
										"LinkedServiceName": "",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": "trusted-service-user",
							"CreateTime": 1674104699,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Transient_lastDdlTime": "1674104699",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "id",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"id\",\"type\":\"long\",\"nullable\":false,\"metadata\":{}},{\"name\":\"sub_id\",\"type\":\"long\",\"nullable\":true,\"metadata\":{}},{\"name\":\"username\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"member_type\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}},{\"name\":\"created_at\",\"type\":\"timestamp\",\"nullable\":true,\"metadata\":{}}]}",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.provider": "parquet",
								"spark.sql.create.version": "2.4.8.2.6.99.201-76361509"
							},
							"ObjectVersion": 3,
							"ObjectId": "74b9fa44-900e-43fd-8a42-ae6b99229526"
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "user_accounts_log",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "raw",
								"DatabaseId": null
							},
							"Partitioning": {
								"PartitionFunctionType": null,
								"Keys": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "id",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": false,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "user_id",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "active_ts",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "timestamp",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "timestamp"
											}
										}
									},
									{
										"Name": "inbound_file_name",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "7c6aa476-c8e0-4d1a-92c0-f2f2b382b4d4",
								"Format": {
									"InputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat",
									"FormatType": "parquet",
									"SerializeLib": "org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe",
									"Properties": {
										"path": "abfss://sys@spotifyfam.dfs.core.windows.net/raw/user_accounts_log",
										"FormatTypeSetToDatabaseDefault": false
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://sys@spotifyfam.dfs.core.windows.net/raw/user_accounts_log",
									"Properties": {
										"LinkedServiceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": "trusted-service-user",
							"CreateTime": 1674413641,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Transient_lastDdlTime": "1674413641",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "id",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"id\",\"type\":\"long\",\"nullable\":false,\"metadata\":{}},{\"name\":\"user_id\",\"type\":\"long\",\"nullable\":true,\"metadata\":{}},{\"name\":\"active_ts\",\"type\":\"timestamp\",\"nullable\":true,\"metadata\":{}},{\"name\":\"inbound_file_name\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.provider": "parquet",
								"spark.sql.create.version": "2.4.8.2.6.99.201-76361509"
							},
							"ObjectVersion": 4,
							"ObjectId": "cae7a70a-67ae-4bee-bb69-e9213ea390c7"
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "user_payment_info",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "raw",
								"DatabaseId": null
							},
							"Partitioning": {
								"PartitionFunctionType": null,
								"Keys": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "id",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": false,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "user_id",
										"Description": "",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": false,
											"Length": 0,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "site",
										"Description": "",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": false,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "username",
										"Description": "",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": false,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "d1cbe65f-3d31-412a-ac0c-d523b82fc5f8",
								"Format": {
									"InputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat",
									"FormatType": "parquet",
									"SerializeLib": "org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe",
									"Properties": {
										"path": "abfss://sys@spotifyfam.dfs.core.windows.net/raw/user_payment_info",
										"FormatTypeSetToDatabaseDefault": true
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://sys@spotifyfam.dfs.core.windows.net/raw/user_payment_info",
									"Properties": {
										"LinkedServiceName": "spotify-scrape-dev-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": true
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "id",
								"spark.sql.sources.provider": "parquet",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"id\",\"type\":\"long\",\"nullable\":false,\"metadata\":{}},{\"name\":\"user_id\",\"type\":\"long\",\"nullable\":false,\"metadata\":{}},{\"name\":\"site\",\"type\":\"string\",\"nullable\":false,\"metadata\":{}},{\"name\":\"username\",\"type\":\"string\",\"nullable\":false,\"metadata\":{}}]}"
							},
							"ObjectVersion": 1,
							"ObjectId": "14c5432e-cf72-4d80-b1de-406ea73c929d",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "relationship-ezdafsywgg",
							"EntityType": "RELATIONSHIP",
							"Namespace": {
								"DatabaseName": "raw"
							},
							"Origin": {
								"Type": "SPARK"
							},
							"FromTableName": "sub_accounts",
							"ToTableName": "user_accounts",
							"ColumnRelationshipInformations": [
								{
									"FromColumnName": "id",
									"ToColumnName": "sub_id"
								}
							],
							"RelationshipType": 0,
							"PublishStatus": "PUBLISHED",
							"ObjectVersion": 1,
							"ObjectId": "e21bb4d4-b082-42b4-869a-917bb73e4e1a",
							"Properties": {}
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "relationship-spolcyqyme",
							"EntityType": "RELATIONSHIP",
							"Namespace": {
								"DatabaseName": "raw"
							},
							"Origin": {
								"Type": "SPARK"
							},
							"FromTableName": "user_accounts",
							"ToTableName": "user_accounts_log",
							"ColumnRelationshipInformations": [
								{
									"FromColumnName": "id",
									"ToColumnName": "user_id"
								}
							],
							"RelationshipType": 0,
							"PublishStatus": "PUBLISHED",
							"ObjectVersion": 1,
							"ObjectId": "50e6a481-ad53-4d7a-9887-bf1e8c3b22c4",
							"Properties": {}
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "relationship-ukqjkwizmw",
							"EntityType": "RELATIONSHIP",
							"Namespace": {
								"DatabaseName": "raw"
							},
							"Origin": {
								"Type": "SPARK"
							},
							"FromTableName": "user_accounts",
							"ToTableName": "user_payment_info",
							"ColumnRelationshipInformations": [
								{
									"FromColumnName": "id",
									"ToColumnName": "user_id"
								}
							],
							"RelationshipType": 0,
							"PublishStatus": "PUBLISHED",
							"ObjectVersion": 1,
							"ObjectId": "94ed837e-30dc-4605-be0d-3230d1c0b4fb",
							"Properties": {}
						},
						"Source": {
							"Type": "SPARK"
						}
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/smallspark0')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 15
				},
				"autoScale": {
					"enabled": false,
					"maxNodeCount": 10,
					"minNodeCount": 3
				},
				"nodeCount": 3,
				"nodeSize": "Small",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.2",
				"libraryRequirements": {
					"content": "splinter==0.18.1",
					"filename": "req.txt",
					"time": "2022-12-28T03:37:35.6378883Z"
				},
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": false,
				"annotations": []
			},
			"dependsOn": [],
			"location": "southcentralus"
		},
		{
			"name": "[concat(parameters('workspaceName'), '/medspark0')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 15
				},
				"autoScale": {
					"enabled": true,
					"maxNodeCount": 6,
					"minNodeCount": 3
				},
				"nodeCount": 10,
				"nodeSize": "Small",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.3",
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": false,
				"annotations": []
			},
			"dependsOn": [],
			"location": "southcentralus"
		}
	]
}